/target
hash2name.txt
uploaded_images*
uploaded_videos*
organized_images
.env*
config.yaml
config_test.yaml
config-dev.yaml
config-fullstack.yaml
.vscode
boundary-data
boundary-data-dump
boundary-data-dump-full
qwen3-vl
geotagging-pgdata-export
main-db-dump
ai/models
certs/
*.pem
node.key
backups/
node.id
db_dump_*.sql.enc
manifest_*.json.enc
*.sql.enc
*.json.enc
iroh_data/
storage_iroh_data/
*.key
p2p/test_env/
p2p/target/
input.pbf
netbird/.env
netbird/keys/
